build/
libs/
venv/
devel/

.idea/
livelybot_rl_control.egg-info/
env/
log/
*.log

*.pyc
__pycache___
__pycache__/

wandb/
test/isaacgym/

*.mp4
logs/
build
MUJOCO_LOG.TXT

videos/

output/
libs/
*.pdf
